/*
font-family: 'Poppins', sans-serif é se
algum erro ocorrer com a fonte usar outra padrão.

html - Definir o tamanho da tela:
height é altura e width é a largura.
vh é o tamanho da tela do usuário.

* - Config. da fonte e limite da margem.

:root - Gerar e reservar essas "variáveis" 
--nomedavariavel: cor.

scroll - barra da tela.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

:root {
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;

    --black-800: #171717;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --white: #F9F9F9;
}

html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    /* Scroll suave */
}

body {
    background: var(--black-800);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    /* Fonts mais detalhadas/nítidas */
}

button,
a {
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    /* largura da Scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--black-800);
    /* cor do plano de fundo da Scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--purple-500);
    /* cor do scroll */
    border-radius: 20px;
    /* borda do scroll */
}

.btn{
    text-align: center;
    padding: 12px 32px;
    background: none;
    border: 1px solid var(--purple-500);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transition: all .2s ease-in-out;
    background: var(--purple-500)
}

/* DARK THEME */

.dark-theme{
    background: var(--gray-200);
    color: var(--black-800);
}

.dark-theme .header_container {
    background-color: var(--purple-800);
    border-bottom: 1px solid var(--purple-500);
}

.dark-theme .btn{
    background: var(--purple-500);
    color: var(--white);
}

.dark-theme .btn:hover {
    color: var(--purple-500);
    background: none;
}

.dark-theme .header_container a {
    color: var(--white);
}

.dark-theme .header_container a:hover {
    color: var(--purple-200);
}

.dark-theme footer{
    color: var(--white);
    background-color: var(--purple-800);
}

body.dark-theme::-webkit-scrollbar-track {
    background: var(--gray-200);
}